{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1 class="mb-4">Tourism Knowledge Graph</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Cities</h5>
            <p>Explore destinations</p>
            <a href="/cities" class="btn btn-primary">View Cities</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h5>Hotels</h5>
            <p>Find accommodations</p>
            <a href="/hotels" class="btn btn-primary">View Hotels</a>
        </div>
    </div>
</div>
{% endblock %}
